$color_title_banner: white;
// $color_title_4: white;
$color_principle: #2C4058;
$font_paragraph_text: "Open Sans";
$color_bkgr_blue: #55b7ff;
$color_bkgr_purple: #6f4cee;
// $font_author_name: "Montserrat";
$font_title: "Montserrat"
